body { 
    font-family: 'Inter', sans-serif;
    background-color: #050505;
    color: var(--text-main);
    /* Kingpin Diagonal stripe pattern */
    background-image: repeating-linear-gradient(
        45deg,
        #111 0,
        #111 2px,
        #000 2px,
        #000 10px
    );
    min-height: 100vh;
}

/* Custom scrollbar for the industrial look */
.scroll-container::-webkit-scrollbar {
    width: 6px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #2d3343;
    border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.2);
}

/* Make images pop */
.logo-link img {
    filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.8));
}
